@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: "roboto";
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 1em auto;
    gap: 5em;

}

.vitrine, .buttons {
    display: flex;
    gap: 2em;
    text-align: center;
    justify-content: center;
}

.vitrine {
    transition: transform 0.5s ease-in-out;
}

.produto {
    width: 25em;
    object-fit: cover;
}

.produto:hover {
    background-color: rgb(196, 181, 181);
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.foto-produto {
    width: 20em;
    height: 29em; 
    margin-top: 2em;
    cursor: pointer;
  }

.indisponivel {
    filter: grayscale(100%);
}

.buttons > button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 4em;
}

.buttons > button:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.addBtn {
    color: white;
    padding: 1em;
    margin: 2em auto;
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    border-radius: 10em;
}

.addBtn:hover {
    background-color: rgb(182, 182, 182);

}
